*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.nav-link{
    transition: all 0.2s;
    position: relative;
}

.nav-link:hover::after{
    content: '';
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.c-item{
    height: 35.8rem;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.carousel-caption{
    transform: translateY(-60%);
    bottom: initial;
    top:50%;
}

#shopbutton{
    @media screen and (max width: 10%) {
        width: 50%;
        
    }
}

.carousel-inner img{
    object-fit: cover;
}

.line{

    border-right: 2px solid cornflowerblue;
    padding-right: 0.1rem;   
    height:2.5rem;


}

.cart_font{
    color:black;
}



